<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            {{tarea.name}}
        </mat-panel-title>
        <mat-panel-description>
            
        </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{tarea.descripcion}}</p>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-expansion-panel>
</mat-accordion>