.example-card {
    max-width: 400px;
    min-width: 400px;
    
    min-height: 670px;
    margin-top: 10px;
    margin-left: 10px;
  }


  .example-header-image {
    background-image: url('https://lh3.googleusercontent.com/a/ACg8ocIjAEofKO3iqIB1y32N2SPf36lMNLlXzq8Z0JcnJ_r79uJ2_MU0gg=s288-c-no');
    background-size: cover;
  }